@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }

<div class="cont">

    <div class="title">LUNCH?</div>
    
    <div class="details-cont">
        <div>
            <div class="det" id="resturantName">@ViewBag.resturant.name</div>
            <div class="det" id="isClosed" @{if (!ViewBag.resturant.is_closed) { <text> hidden</text> } }>CLOSED</div>
            <div class="det" id="website"><a href="@ViewBag.resturant.url">Website</a></div>
            <div class="det" id="phone">@ViewBag.resturant.display_phone</div>
            <div class="det" id="rating">
                <div class="det2" id="ratingNumber">@ViewBag.resturant.rating/5 stars</div>
                <div class="det2" id="reviewCount">with @ViewBag.resturant.review_count reviews</div>
            </div>
            <div class="det" id="address">
                <div id="distance">~ @ViewBag.resturant.distance miles</div>
            </div>
        </div>
    </div>

</div>

